@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
body{
  background-color: hsl(0, 0%, 98%);
}

header{
  padding: 20px 0px 20px 0px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.11);
}
.header{
  max-width: 1113px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.header-dark{
  background-color: hsl(209, 23%, 22%);
}

.logo{
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  font-weight: 800;

}
.logo-dark{
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  font-weight: 800;
  color:white;
}
.lua{
  width: 14px;
  height: 14px;
  margin-right: 10px;
  cursor: pointer;
}

.container-darkmode{
  display: flex;
  align-items: center;
  
}
.dark-mode{
  font-weight: bold;
  cursor: pointer;
  color: white;
}
.light-mode{
  font-weight: bold;
  cursor: pointer;
  color: black;
}
#container-geral-pesquisa{
  padding-top: 50px;
  max-width: 1113px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.lupa{
  width: 14px;
  height: 14px;
  background-color: transparent;
}

#input{
  width:100%;
  height: 42px;
  padding: 10px 20px;
  border-radius: 6px;
  border-style: none;
  background-color: transparent;
  outline: none;
  
}
#input-light{
  width:100%;
  height: 42px;
  padding: 10px 20px;
  border-radius: 6px;
  border-style: none;
  background-color: transparent;
  outline: none;
  
  color: white;
}
#input-light::placeholder{
  color: white;
}
.container-pesquisa{
  display: flex;
  align-items: center;
  width: 350px;
  border-radius: 6px;
  padding-left: 24px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.075);
  background-color: hsl(0, 0%, 100%);
}
.container-pesquisa-light{
  display: flex;
  align-items: center;
  width: 350px;
  border-radius: 6px;
  padding-left: 24px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.075);
  background-color: hsl(209, 23%, 22%);
}
#lista{
  display: none;
  flex-direction: column;
  position: absolute;
  top: 97px;
  width: 170px;
  border-style: none;
  padding: 15px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.075);
  border-radius: 4px;
  outline: none;
  z-index: 1;
}
#lista-light{
  display: none;
  flex-direction: column;
  position: absolute;
  top: 97px;
  width: 170px;
  border-style: none;
  padding: 15px;
  background-color: hsl(209, 23%, 22%);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.075);
  border-radius: 4px;
  outline: none;
  z-index: 1;
}
.container-filtro{
  font-family: "Nunito Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(0, 0%, 100%);
  width: 170px;
  height: 42px;
  border-radius: 4px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.075);
  cursor: pointer;
  z-index: 1;
}
.container-filtro-light{
  font-family: "Nunito Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(209, 23%, 22%);
  width: 170px;
  height: 42px;
  border-radius: 4px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.075);
  cursor: pointer;
  z-index: 1;
}
.seta{
  width: 12px;
  height: 12px;
  margin-right: 20px;
}
.option{
  cursor: pointer;
  margin-top: 5px;
  font-size: 12px;
}
.option-light{
  cursor: pointer;
  margin-top: 5px;
  font-size: 12px;
  color: white;
}
.text-filter{
  font-size: 12px;
  font-weight: 600;
  margin-left: 20px;
}
.text-filter-light{
  font-size: 12px;
  font-weight: 600;
  margin-left: 20px;
  color: white;
}
main{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colunas com largura igual */
  gap: 77px; /* Espaço entre os itens do grid */
  padding-top: 50px;
  max-width: 1113px;
  position: relative;
  margin: auto;
}
.body-dark{
  background-color: hsl(207, 26%, 17%);
}
.body-light{
  background-color: hsl(0, 0%, 98%);
}
.card-light{
  width: 220px;
  height: 320px;
  background-color: hsl(0, 0%, 100%);  
  border-radius: 5px 5px 0px 0px;
}
.card-dark{
  width: 220px;
  height: 320px;
  background-color: hsl(209, 23%, 22%);  
  border-radius: 5px 5px 0px 0px;
}
.container-information-card{
  padding: 10px 0px 0px  16px;
}
.img-pais{
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  height: 152px;
}
.nome-pais{
  margin-bottom: 10px;
}
.nome-pais-light{
  margin-bottom: 10px;
  color: white;
}

.link,.link-descricao{
  text-decoration: none;
  color: black;
}
.seta_back{
  width: 12px;
  height: 12px;
  margin-right: 10px;
}
.button-back-light{
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  width: 130px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.116);
}
.button-back-dark{
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: hsl(209, 23%, 22%);
  width: 130px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.116);
}
.text-voltar-light{
  color: black;
  font-size: 14px;
}
.text-voltar-dark{
  color: white;
  font-size: 14px;
}
.descricao{
  padding-top: 50px;
  max-width: 1113px;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.img-pais-descricao{
  width: 500px;
  height: 342px;
 
}
.container-informacao-pais{
  display: flex;
  margin-top: 50px;
}
.container-information-geral{
  padding: 30px 0px 0px 80px;
  width: 100%;
}
.container-information{
  display: flex;
  justify-content: space-between;
}
.rotulo{
  font-size: 12px;
}
.rotulo-light{
  font-size: 12px;
  color: white;
}
.rotulo-paises-viz{
  display: block;
  margin-right: 20px;
  font-size: 18px;
  width: 130px;

}
.button-paises-viz{
  width: 100px;
  cursor: pointer;
  margin-right: 10px;
  padding: 4px;
  border-radius: 3px;
  border-style: none;
  background-color: hsl(209, 23%, 22%);
  color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.116);
}
.button-paises-viz-light{
  width: 100px;
  cursor: pointer;
  margin-right: 10px;
  padding: 4px;
  border-radius: 3px;
  border-style: none;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.116);
}
.container-paises-vizinhos{
  display: flex;
  align-items: center;
  margin-top: 90px;
}
.paises-vizinhos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.container-information2{
  margin-right: 15px;
}

@media  screen and  (max-width:1130px){
.header,#container-geral-pesquisa,main,.descricao{
  max-width: 900px;
}
main{
  gap: 41px;
}
.img-pais{
  height: 130px;
}
.card-light,.card-dark{
  width: 195px;
}
.img-pais-descricao {
  width: 390px;
  height: 279px;
}
.container-information2 {
  margin-right: 71px;
}

}
@media screen and (max-width:1044px){
  .container-informacao-pais,.container-information,.container-paises-vizinhos  {
    flex-direction: column;
}
.descricao{
  padding-left: 20px;
}
.container-information-geral {
  padding: 30px 0px 0px 0px;
 
}
.container-information2 {
   margin-right: 0; 
   margin-top: 20px;
}
.container-paises-vizinhos {
  align-items: start;
  margin-top: 40px;
}
.rotulo-paises-viz{
  margin-right: 0;
}
.paises-vizinhos {
  margin-top: 20px;
  
}

}
@media screen and (max-width:916px){
  .header,#container-geral-pesquisa,main{
    max-width: 600px;
  }
  main{
    grid-template-columns: repeat(3, 1fr); /* 4 colunas com largura igual */
    gap: 7px;
  }
  
}
@media screen and (max-width:610px){
  .header,#container-geral-pesquisa,main,.descricao{
    max-width: 400px;
  }
  #container-geral-pesquisa{
    flex-direction: column;
  }
  main{
    grid-template-columns: 1fr; 
    gap: 7px;
    justify-items: center;
  }
  .container-filtro-light,.container-filtro{
    margin-top: 32px;
  }
  .link{
    width: 250px;
  }
  .img-pais {
    height: 150px;
}
  .card-light,.card-dark{
    width: 100%;
  
  }
  .img-pais-descricao {
    width: 350px;
    height: 250px;
}
}
@media screen and (max-width:412px){
  .header,#container-geral-pesquisa,main{
    max-width: 380px;
  }
 
}